# Virtual environments
.venv/

# Python cache & build files
__pycache__/
*.pyo
.mypy_cache/

# MLflow tracking and databases
mlruns/
*.db

# Generated outputs & plots
output_plots/

# Operating System files
.DS_Store
Thumbs.db
